body {
    font-family: helvetica, sans-serif;
    background: darkgray;
}

li {
    list-style: none;
    display: inline-block;
    float: right;
    padding: 1em;

}

li a {
    text-decoration: none;
    font-family: helvetica, sans-serif;
    color: white;
}

a:hover {
    color: red;
    transition: 1s ease;
}

h1 {
    display: inline;
    position: fixed;
    margin: 0;
    color: white;
}
